// @group components
// @name hero

.hero
  padding-top: 60px

  +respond-to(medium)
    padding-top: 100px

.hero__logo
  max-width: 70%

  +respond-to(medium)
    max-width: 50%

.hero__phrase
  margin: 10px 0 50px

  +respond-to(medium)
    font-size: 24px
